<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SampleMobileAutomation" parallel="tests" thread-count="1">
    <test name="Test">
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="tests.PasscodeTest"/>
        </classes>
    </test>
</suite>

