<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SampleMobileAutomation" parallel="tests" thread-count="1">
    <!-- Add your listener class here -->
    <listeners>
        <listener class-name="listeners.ExtentTestNGListener"/>
    </listeners>

    <test name="Test">
        <parameter name="platformName" value="Android"/>
        <classes>
            <class name="tests.PasscodeTest"/>
        </classes>
    </test>
</suite>

